.about-container {
    text-align: start;
    margin: 4rem 6rem;
}
.about-container h2{
    text-align: start;
    padding-bottom: 1rem;
}
.about-container p{
    text-align: start;
    padding-bottom: 2rem;
}
@media screen and (max-width:850px) {
    .about-container{
        margin: 2rem 4rem;
    }
}